[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SpatialEpi"]
	path = SpatialEpi
	url = https://github.com/rudeboybert/spatialepi
[submodule "fivethirtyeight"]
	path = fivethirtyeight
	url = https://github.com/rudeboybert/fivethirtyeight
[submodule "forestecology"]
	path = forestecology
	url = https://github.com/rudeboybert/forestecology
[submodule "resampledata"]
	path = resampledata
	url = https://github.com/rudeboybert/resampledata
